@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    @section scripts{
        <script src="~/DataTables/jQuery-3.3.1/jquery-3.3.1.js"></script>
    }
    <script type="text/javascript">
        function Validate() {
            var name = document.frmCreate.Name;
            var password = document.frmCreate.Password;
            var cpassword = document.frmCreate.CPassword;
            var email = document.frmCreate.Email;
            var contact_no = document.frmCreate.ContactNo;
            var name_pat = /^[a-zA-Z]{3,15}$/;
            if (name.value != "" && name.value.match(name_pat)) {
            }
            else {
                alert("Name should be contain atleast 3 to 15 characters ");
                name.focus();
                return false;
            }
            var pass_pat = /^[A-Za-z0-9]{8,16}$/;
            if (password != "" && password.value.match(pass_pat)) {
            }
            else {
                alert("Password must be 8 digits");
                password.focus();
                return false;
            }
            if (password.value == cpassword.value) { }
            else {
                alert("Password does not match");
                cpassword.focus();
                return false;
            }

            var email_pat = /^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})/;
            if (email.value != "" && email.value.match(email_pat)) {
            }
            else {
                alert("Email is not Proper");
                email.focus();
                return false;

            }
            var contact_no_pat = /^[0-9]{10}$/;
            if (contact_no.value != "" && contact_no.value.match(contact_no_pat)) {
            }
            else {
                alert("contact number is not Proper");
                contact_no.focus();
                return false;
            }
            return true;
        }
    </script>

    <meta name="viewport" content="width=device-width" />
    <title>registration</title>
    <link href="~/AdminContent/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/AdminContent/css/sb-admin.css" rel="stylesheet">

</head>

<body class="bg-dark">
    <div class="container">
        <div class="card card-register mx-auto mt-5">
            <div class="card-header">Register an Account</div>
            <div class="card-body">
                <form method="post" name="frmCreate">
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-label-group">
                                    <input type="text" id="Name" name="Name" class="form-control" placeholder="Enter name" required="required">
                                    <label for="Name">Enter name</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-label-group">
                                    <input type="password" id="Password" name="Password" class="form-control" placeholder="Enter Password" required="required">
                                    <label for="Password">Password</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-label-group">
                            <input type="password" id="CPassword" name="CPassword" class="form-control" placeholder="Enter CPassword" required="required">
                            <label for="Cpassword">Conform Password</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-label-group">
                                    <input type="email" id="Email" name="Email" class="form-control" placeholder="Email address" required="required" onblur="return CheckEmail(this.value)" />
                                    <label for="Email">Email Address</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-md-12">
                                <div class="form-label-group">
                                    <input type="text" id="ContactNo" name="ContactNo" class="form-control" placeholder="Contact No" required="required" onblur="return CheckCno(this.value)"/>
                                    <label for="ContactNo">Contact No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="Submit" value="Submit" class="btn btn-primary btn-block" onclick="return Validate()" />
                </form>
                <div class="text-center">
                    <a class="d-block small mt-3" href="@Url.Action("Index")">Login Page</a>
                    <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="~/AdminContent/vendor/jquery/jquery.min.js"></script>
    <script src="~/AdminContent/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/AdminContent/vendor/jquery-easing/jquery.easing.min.js"></script>

</body>
</html>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<script>
    function CheckEmail(val) {
        if (val != "") {
        $.ajax(
            {
                type: "POST",
                url: "@Url.Action("CheckEmail", "Admin")",
                data: { id: val },
                    success: function (response) {
                        if (response == "false") {
                        }
                        else {
                            alert('E-Mail Already Exist');
                            $('#Email').val("");

                            $('#Email').focus();
                        }
                    },
                    failure: function (response) {
                            alert('Fail -' + response.responseText);
                        },
                    error: function (response) {
                            alert('Error -' + response.responseText);
                        }
                    }
            );
            }
    }
</script>
<script>
    function CheckCno(val) {
        if (val != "") {
        $.ajax(
            {
                type: "POST",
                url: "@Url.Action("CheckCno", "Admin")",
                data: { id: val },
                    success: function (response) {
                        if (response == "false") {
                        }
                        else {
                            alert('Contact No Already Exist');
                            $('#ContactNo').val("");

                            $('#ContactNo').focus();
                        }
                    },
                    failure: function (response) {
                            alert('Fail -' + response.responseText);
                        },
                    error: function (response) {
                            alert('Error -' + response.responseText);
                        }
                    }
            );
            }
    }
</script>

