@model IntenseCare.Models.tblAdminIquiry 

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card shadow md-4">
    <div class="card-header py-3">
        <h6 class="m-0 fornt fa-weight-bold text-dark">
            <a href="@Url.Action("Index","AdminInquery")" class="btn btn-dark">
                <i class="fa fa-backward fa-1x"></i>
            </a>
        </h6>

    </div>
    <h2>
        @Model.Subject
    </h2>
    <br />
    <p>
        @Model.Inquiry
    </p>
    <br />
    <br />
    <form method="post" action="@Url.Action("Details","AdminInquery", new { id = Model.AdminInquiryID })">
<textarea name="txtReply">
    
</textarea>
        <br />
        <br />
        <input type="submit" class="btn btn-primary" value="Reply" />
    </form>
    </div>








