
@{
    ViewBag.Title = "registration";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section scripts{
}
<script>
    function Validate() {
        var firstname = document.frmCreate.FirstName;
        var lastname = document.frmCreate.LastName;
        var pin = document.frmCreate.Pin;
        var cpin = document.frmCreate.Cpin;
        var email = document.frmCreate.Email;
        var contact_no = document.frmCreate.ContactNo;
        var Address = document.frmCreate.Address;

        var name_pat = /^[A-Za-z]{5,20}+$/;
        if (firstname.value != "" && firstname.value.match(name_pat)) {
        }
        else {
            alert("FirstName is Minimum 5 Characters and Maximum 20 Contain");
            firstname.focus();
            return false;
        }
        var name_pat = /^[A-Za-z]{3,10}+$/;
        if (lastname.value != "" && lastname.value.match(name_pat)) {
        }
        else {
            alert("LastName is Minimum 3 Characters and Maximum 10 Contain");
            lastname.focus();
            return false;
        }
        var pin_pat = /^[0-9]{4}$/;
        if (pin != "" && pin.value.match(pin_pat)) {
        }
        else {
            alert(" Pin Number must be 4 digit");
            pin.focus();
            return false;
        }
        if (pin.value == cpin.value) { }
        else {
            alert("Pin does not match");
            cpin.focus();
            return false;
        }

        var email_pat = /^\w+([\.-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
        if (email.value != "" && email.value.match(email_pat)) {
        }
        else {
            alert("Email is not Proper");
            email.focus();
            return false;

        }
        var contact_no_pat = /^[0-9]{10}$/;
        if (contact_no.value != "" && contact_no.value.match(contact_no_pat)) {
        }
        else {
            alert("contact number Should be 10 digit");
            contact_no.focus();
            return false;
        }
        var add_pat = /^[A-Za-z]+$/;
        if (Address.value != "" && Address.value.match(add_pat)) {
        }
        else {
            alert("Address is not Proper");
            Address.focus();
            return false;
        }
        return true;
    }
</script>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-dark">Add New Nurse</h6>
    </div>
    <div class="card-body">
        <form class="user" method="post" name="frmCreate">
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <label>FirstName</label>
                    <input type="text" class="form-control" id="FirstName" name="FirstName" placeholder="First Name">
                </div>
                <div class="col-sm-6">
                    <label>lastName</label>
                    <input type="text" class="form-control" id="LastName" name="LastName" placeholder="Last Name">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <label>Pin</label>
                    <input type="password" class="form-control" id="Pin" name="Pin" placeholder="Enter Pin">
                </div>
                <div class="col-sm-6">
                    <label>Confirm pin</label>
                    <input type="password" class="form-control" id="Cpin" name="Cpin" placeholder="Enter Cpin ">
                </div>

            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <label>Email-Id</label>
                    <input type="email" class="form-control" id="Email" name="Email" placeholder="Email Address">
                </div>
                <div class="col-sm-6">
                    <label>ContactNo</label>
                    <input type="number" class="form-control" id="ContactNo" name="ContactNo" placeholder="Contact Number">
                </div>

            </div>
            <div class="form-group row">
                <div class="col-sm-4 mb-3 mb-sm-0">
                    <label>Select country</label>
                    @Html.DropDownList("ddCountry", ViewBag.Country as SelectList, "Select Country", new { @class = "form-control" })
                </div>
                <div class="col-sm-4 mb-3 mb-sm-0" id="divstate">
                    <label>Select state</label>
                    <select id="ddState" name="ddState" class="form-control" required></select>
                </div>
                <div class="col-sm-4 mb-3 mb-sm-0" id="divcity">
                    <label>Select city</label>
                    <select id="ddCity" name="ddCity" class="form-control" required></select>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <label>Gender</label>
                    <input type="radio" id="Gen" name="Gen" value="Female" required>Female
                    <input type="radio" id="Gen" name="Gen" value="Male" required>Male
                </div>
                <div class="col-sm-6">
                    <label>Address</label>
                    <input type="text" class="form-control" id="Address" name="Address" placeholder="Enter Address" required>
                </div>
            </div>
            <div class="text-center">

                <input type="submit" value="Add Nurse" class="btn btn-success" onclick="return Validate()" />
                <a class="d-block small mt-3" href="@Url.Action("Index","Nurse")">Back To List</a>
            </div>
        </form>
       
    </div>
</div>


<script src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#ddCountry').change(function () {
           // alert("Aavi Gayu");
            $.ajax({
                type: "post",
                url: "@Url.Action("GetState","Nurse")",
                data: { cid: $('#ddCountry').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        $('#ddState').append('<option value=' + data[i].Value + '>' + data[i].Text + '</option>');
                    }
                    $('#ddState').focus();
                }
            });
        });

        $('#ddState').change(function () {
           //alert("Aavi Gayu");
            $.ajax({
                type: "post",
                url: "@Url.Action("getCity", "Nurse")",
                data: { sid: $('#ddState').val() },
                datatype: "json",
                traditional: true,
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        $('#ddCity').append('<option value=' + data[i].Value + '>' + data[i].Text + '</option>');
                    }
                    $('#ddCity').focus();
                }
            });
        });

    });

</script>






