
@{
    ViewBag.Title = "Add";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section scripts{
}
<script src="~/Scripts/tinymce/tinymce.js"></script>

<script>
    tinymce.init({
        selector: 'textarea',
        plugins: "image media link",
    });
</script>
<div class="card shadow mb-4">
    <form method="post">
        <div class="card-header py-3 ">
            <h6 class="m-0 font-weight-bold text-dark">CMS Creation Page</h6>

        </div>
        <div class="card-body">
            <select name="s1">
                <option value=""></option>
                <option value="AboutUs">AboutUs</option>
                <option value="www">www</option>
                <option value="uuu">uuu</option>
                <option value="cms1">cms1</option>
                <option value="PageTitle">PageTitle</option>
                <option value="PageTitle">demo</option>
                <option value="PageTitle">demo2</option>
                <option value="eee">eee</option>        

            </select>
            <textarea name="BlogContent" style=" height:100px">
            </textarea>
        </div>
        <input type="submit" value="Save" class="btn btn-success btn-lg" />
        <input type="submit" name="btnsubmit" value="Update" class="btn btn-success" />
        @*<a class="d-block small mt-3" href="@Url.Action("Index","cms")">Back To List</a>*@
        <a class="d-block small mt-3" href="@Url.Action("Index","cms")">Back To List</a>
    </form>
</div>


