
@{
    ViewBag.Title = "registration";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    @section scripts{
        <script src="~/DataTables/jQuery-3.3.1/jquery-3.3.1.js"></script>
    }
    <meta name="viewport" content="width=device-width" />
    <title>registration</title>
    <link href="~/AdminContent/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template-->
    <link href="~/AdminContent/css/sb-admin.css" rel="stylesheet">
    <script>
        function Validate() {
            var DocId = document.frmCreate.DoctorId;
            var pid = document.frmCreate.PatientId;
            var nid = document.frmCreate.NurseId;
            var wtype = document.frmCreate.WardType;
            var wno = document.frmCreate.WardNo;
            //var contact_no = document.frmCreate.ContactNo;
            //var Address = document.frmCreate.Address;

            var did_pat = /^[0-9]+$/;
            if (DocId.value != "" && DocId.value.match(did_pat)) {
            }
            else {
                alert("Doctor id should be digit");
                DocId.focus();
                return false;
            }
            var pid_pat = /^[0-9]+$/;
            if (pid.value != "" && pid.value.match(pid_pat)) {
            }
            else {
                alert("patient id should be digit");
                pid.focus();
                return false;
            }
            var nid_pat = /^[0-9]+$/;
            if (nid.value != "" && pid.value.match(nid_pat)) {
            }
            else {
                alert("Nurse id should be digit");
                nid.focus();
                return false;
            }
            var wtype_pat = /^[a-zA-Z]+$/;
            if (wtype.value != "" && wtype.value.match(wtype_pat)) {
            }
            else {
                alert("Ward type is not proper");
                wtype.focus();
                return false;
            }
            var wno_pat = /^[0-9]+$/;
            if (wno.value != "" && wno.value.match(wno_pat)) {
            }
            else {
                alert("ward no should be digit only");
                wno.focus();
                return false;
            }
            return true;
        }
    </script>


</head>

        <body class="">
            <div class="container">
                <div class="card card-register mx-auto mt-5">
                    <div class="card-header">Add Admit details</div>
                    <div class="card-body">
                        <form method="post" name="frmCreate">
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <div class="form-label-group">
                                            <input type="text" id="DoctorId" name="DoctorId" class="form-control" placeholder="Enter name" required="required" autofocus="autofocus">
                                            <label for="DoctorId">Doctor Id</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <div class="form-label-group">
                                            <input type="text" id="PatientId" name="PatientId" class="form-control" placeholder="Enter Password" required="required">
                                            <label for="PatientId">Patient Id</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-label-group">
                                    <input type="text" id="NurseId" name="NurseId" class="form-control" placeholder="Nurse Id" required="required">
                                    <label for="NurseId">Nurse Id</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="form-row">
                                    <label>WardType</label>
                                    <select name="WardType" id="WardType" value="select" required>
                                        <option value="D">Deluxe</option>
                                        <option value="SD">Semi-Deluxe</option>
                                        <option value="S">Special</option>
                                        <option value="G">General</option>
                                       
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-row">
                                    <div class="col-md-12">
                                        <div class="form-label-group">
                                            <input type="text" id="WardNo" name="WardNo" class="form-control" placeholder="Ward No" required="required">
                                            <label for="WardNo">Ward No</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <a class="d-block small mt-3" href="@Url.Action("Index","Admit")">Back to list</a>
                                <input type="Submit" value="Submit" class="btn btn-primary btn-block" onclick="return Validate()" />
                            </div>

                        </form>
                       
                    </div>
                </div>
            </div>
            <!-- Bootstrap core JavaScript-->
            <script src="~/AdminContent/vendor/jquery/jquery.min.js"></script>
            <script src="~/AdminContent/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <!-- Core plugin JavaScript-->
            <script src="~/AdminContent/vendor/jquery-easing/jquery.easing.min.js"></script>

        </body>
    </html>




