
@{
    ViewBag.Title = "Payadd";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<script>
    function Validate() {
        var pid = document.frmCreate.patientid;
        var did = document.frmCreate.doctorid;
        var payamt = document.frmCreate.payamt;
        var tranid = document.frmCreate.tranid;
        //var cardtype = document.frmCreate.Cardtype;
        //var trantype = document.frmCreate.trantype;
        var chno = document.frmCreate.chno;
        //var aid = document.frmCreate.admitId;
        
        var pid_pat = /^[0-9]{1,3}$/;
        if (pid.value != "" && pid.value.match(pid_pat)) {
        }
        else {
            alert("Enter only digit");

            pid.focus();
            return false;
        }
        var did_pat = /^[0-9]{1,3}$/;
        if (did.value != "" && did.value.match(did_pat)) {
        }
        else {
            alert("Doctor id digit only");
            did.focus();
            return false;
        }
        var payamt_pat = /^[1-9]\d*(((,\d{3}){1})?(\.\d{0,2})?)$/;   /*/^[-+]?[0-9]+\.[0-9]$/*/;
        if (payamt.value != "" && payamt.value.match(payamt_pat)) {
        }
        else {
            alert(" payment is not proper");
          payamt.focus();
            return false;
        }
        
        var tranid_pat = /^[0-9]{12}$/;
        if (tranid.value.match(tranid_pat)) {
            alert("Transaction id is not proper");
            tranid.focus();
            return false;
        }
       

        var chno_pat = /^[0-9]{6}$/;
        if (chno.value.match(chno_pat)) {
            alert("Cheque number is not Proper");
            chno.focus();
            return false;
        }
    
        return true;
    }
</script>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-dark">Add Payment Details</h6>
    </div>
    <div class="card-body">
        <form class="user" method="post" name="frmCreate">
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <label>PatientId</label>
                    <input type="text" class="form-control" id="patientid" name="patientid" placeholder="patientId">
                </div>
                <div class="col-sm-6">
                    <label>DoctorId</label>
                    <input type="text" class="form-control" id="doctorid" name="doctorid" placeholder="doctorid">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <label>Payment Amount</label>
                    <input type="text" class="form-control" id="payamt" name="payamt" placeholder="Enter payment amt">
                </div>
                <div class="col-sm-6">
                    <label>Transaction Id</label>
                    <input type="text" class="form-control" id="tranid" name="tranid" placeholder="Enter transaction id ">
                </div>

            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <label>CardType</label>
                    <select name="Cardtype" id="Cardtype" value="select">
                        <option value=""></option>
                        
                        <option value="Debit Card">Debit Card</option>
                        <option value="Credit Card">Credit Card</option>
                        
                    </select>
                </div>
                <div class="col-sm-6">
                    <label>Transaction type</label>
                    <select name="trantype" id="trantype" value="select">
                        <option value=""></option>
                        <option value="Cash">cash</option>
                        <option value="Debit Card">Debit Card</option>
                        <option value="Credit Card">Credit Card</option>
                        <option value="NetBanking">NetBanking</option>
                        <option value="Wallet">Wallet</option>
                        <option value="UPI">UPI</option>
                    </select>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-sm-4 mb-3 mb-sm-0">
                    <label>Cheque No</label>
                    <input type="number" class="form-control" id="chno" name="chno" placeholder="cheque no">

                </div>
                <div class="col-sm-4 mb-3 mb-sm-0">
                    <label>Admit Id</label>
                    <input type="number" class="form-control" id="admitId" name="admitId" placeholder="Admit Id ">
                </div>

            </div>
            <div class="text-center">

                <input type="submit" value="Submit" class="btn btn-success" onclick="return Validate()" />
                <a class="d-block small mt-3" href="@Url.Action("Index","Payment")">Back To List</a>
            </div>
        </form>

    </div>
</div>

