
@{
    ViewBag.Title = "tmp";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>tmp</h2>

<div class="form-group">
    <div class="form-row">
        <div class="col-md-4">
            <div class="form-label-group">
                @Html.DropDownList("Selet" @class = "form-control")
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#ddcountry').change(function () {
            alert("data get");
        });
    });
</script>